<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>username</th>
        <th>email</th>
        <th>address street</th>
        <th>suite</th>
        <th>city</th>
        <th>zipcode</th>
        <th>Geo Lat</th>
        <th>Geo Lng</th>
    </tr>
    <tr *ngFor="let a of ArrayUser">

        <td>{{ a.id }}</td>
        <td>{{ a.name }}</td>
        <td>{{ a.username }}</td>
        <td>{{ a.id }}</td>
        <td>{{ a.id }}</td>
        <td>{{ a.id }}</td>
        <td>{{ a.id }}</td>
        <td>{{ a.id }}</td>
        <td>{{ a.id }}</td>
    </tr>
</table>
